<a href="https://colab.research.google.com/github/lokeshneerasa/FEATURE_ENGINEERING/blob/main/FEATURE__ENGINEERING_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LabelEncoder**

In [ ]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd
d={
    "Company":["Google","Twitter","Google","Linkedin"],
    "Role":["HR","Salesmanager","Datascientist","HR"]
}
df=pd.DataFrame(d)
label_encoder=LabelEncoder()
df['Company_n']=label_encoder.fit_transform(df['Company'])
df['Role_n']=label_encoder.fit_transform(df['Role'])
print()
print(df)

    Company           Role  Company_n  Role_n
0    Google             HR          0       1
1   Twitter   Salesmanager          2       2
2    Google  Datascientist          0       0
3  Linkedin             HR          1       1

# **MinMaxScaler**

In [2]:
#Ex:1
import pandas as pd
d={
    "x":[10,20,30,40,50],
    "y":[25,50,75,100,125]
}
df=pd.DataFrame(d)
print(df)

    x    y
0  10   25
1  20   50
2  30   75
3  40  100
4  50  125

In [5]:
#Ex:2 MinMaxScaler:single column
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
d={
    "x":[10,20,30,40,50],
    "y":[25,50,75,100,125]
}
df=pd.DataFrame(d)
mm_scale=MinMaxScaler(feature_range=(0,1))
print(df)
one_col=mm_scale.fit_transform(df[["x"]])
print(one_col)

    x    y
0  10   25
1  20   50
2  30   75
3  40  100
4  50  125
[[0.  ]
 [0.25]
 [0.5 ]
 [0.75]
 [1.  ]]

In [6]:
#Ex:3 MinMaxScaler:two columns
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
d={
    "x":[10,20,30,40,50],
    "y":[25,50,75,100,125]
}
df=pd.DataFrame(d)
mm_scale=MinMaxScaler(feature_range=(0,1))
print(df)
df[["x","y"]]=mm_scale.fit_transform(df[["x","y"]])
print(df)

    x    y
0  10   25
1  20   50
2  30   75
3  40  100
4  50  125
      x     y
0  0.00  0.00
1  0.25  0.25
2  0.50  0.50
3  0.75  0.75
4  1.00  1.00

# **FunctionTransformer**

In [11]:
import numpy as np
from sklearn.preprocessing import FunctionTransformer
a=[[10,20],[30,40],[50,60]]
f=np.array(a)
def add_ten(x):
  return x+10
obj=FunctionTransformer(add_ten)
result=obj.transform(f)
print(f)
print()
print(result)

[[10 20]
 [30 40]
 [50 60]]

[[20 30]
 [40 50]
 [60 70]]

# **Handling outlier**

In [13]:
#Ex:1 A dataframe with outliers
import numpy as np
import pandas as pd
houses=pd.DataFrame()
houses['Price']=[534433, 392333, 293222, 4322032]
houses['Rooms']=[2,3,2,116]
houses['Square_Feet']=[1500, 2500, 1500, 48000]
print(houses)

     Price  Rooms  Square_Feet
0   534433      2         1500
1   392333      3         2500
2   293222      2         1500
3  4322032    116        48000

In [14]:
#Ex:2 Filtering outlier
import numpy as np
import pandas as pd
houses=pd.DataFrame()
houses['Price']=[534433, 392333, 293222, 4322032]
houses['Rooms']=[2,3,2,116]
houses['Square_Feet']=[1500, 2500, 1500, 48000]
con1=houses['Rooms']<20
new=houses[con1]
print(new)

    Price  Rooms  Square_Feet
0  534433      2         1500
1  392333      3         2500
2  293222      2         1500

In [16]:
#Ex:3 Mark them as outliers
import numpy as np
import pandas as pd
houses=pd.DataFrame()
houses['Price']=[534433, 392333, 293222, 4322032]
houses['Rooms']=[2,3,2,116]
houses['Square_Feet']=[1500, 2500, 1500, 48000]
houses["Outlier"]=np.where(houses["Rooms"]<20,0,1)
print(houses)

     Price  Rooms  Square_Feet  Outlier
0   534433      2         1500        0
1   392333      3         2500        0
2   293222      2         1500        0
3  4322032    116        48000        1